* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #141414;
}
body {
  background-color: white;
}
.app {
  display: flex;
  flex-direction: columns;
  align-items: center;
}
.app_navbar {
  backgroud-color: #e5fcff;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}
#root {
  width: 100%;
}
.wrap {
  width: 1140px;
  display: flex;
  flex-direction: column;
  position: relative;
  margin-top: 125px;
  margin-left: auto;
  margin-right: auto;
}
